apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: n17solutions-semaphore-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: n17solutions-semaphore
  template:
    metadata:
      labels:
        app: n17solutions-semaphore
    spec:
      containers:
      - name: n17solutions-semaphore
        image: n17solutions/semaphore
        volumeMounts:
          - mountPath: /data/semaphore
            name: semaphore-data-volume
        ports:
          - containerPort: 80
            name: http
          - containerPort: 443
            name: https
          env:
            - name: SEMAPHORE_DB
              value: "<DB_CONNECTION_STRING>"
      volumes:
        # The data volume is used to store the public key. Use any volume mechanism you like - example given here is emptyDir
        # See the kubernetes documentation for more details (https://kubernetes.io/docs/concepts/storage/volumes/)
        - name: semaphore-data-volume
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: n17solutions-semaphore-loadbalancer
spec:
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: http
    - protocol: TCP
      port: 443
      targetPort: 443
      name: https
    selector:
      app: n17solutions-semaphore